{% extends "base.html" %} {% block content %}

<section class="header">
    <h3>Home</h3>
</section>

<!-- Primary Page Layout -->
<div class="container">
    <div class="main-section row">
        <div class="offset-by-two two-thirds column">
            <div class="row">
                <h6>
                    Welcome to Shamrok! Shamrok is an application that allows you to share your favourite pictures, and rate others'. Check out the feeds above to see other peoples' images, or start uploading your own
                </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}
